<div *ngIf="type === 'investor'" class="container mt-5">
    <h1 class="text-primary text-center">Welcome, Investor!</h1>
    <p class="text-center">
      This is the investor's home page. Here you can manage your investments, view opportunities, and more.
    </p>
    
  </div>
  
  <div *ngIf="type === 'startup'" class="container mt-5">
    <h1 class="text-success text-center">Welcome, Startup!</h1>
    <p class="text-center">
      This is the startup's home page. Here you can showcase your business, find investors, and more.
    </p>
  </div>

  