<div class="container mt-3">
    <div class="row">
        <h1>My Profile</h1>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="assests/logo.png" class="card-img-top rounded-circle mx-auto d-block" style="width: 150px;">
          <div class="card-body">
            <h4 class="card-title mb-4">SharkTN</h4>
            <p class="card-text">Startup Owner</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Alex Arawles" aria-label="text" aria-describedby="basic-addon1" disabled>
            </div>
            <p class="card-text">My Startup Email Address</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="alexarawles@gmail.com" aria-label="Email" aria-describedby="basic-addon1" disabled>
            </div>            
            <p class="card-text">Phone Number</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="+216 99 999 999" aria-label="Email" aria-describedby="basic-addon1" disabled>
            </div>
            <p class="card-text">Industry</p>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Technology" aria-label="Email" aria-describedby="basic-addon1" disabled>
            </div>  
          </div>
        </div>
      </div>

    </div>
  </div>













        <!-- <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Edit Profile</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="fullName" class="form-label">Full Name</label>
                  <input type="text" class="form-control" id="fullName" placeholder="Your First Name">
                </div>
                <div class="mb-3">
                  <label for="gender" class="form-label">Gender</label>
                  <select id="gender" class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="language" class="form-label">Language</label>
                  <select id="language" class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">English</option>
                    <option value="2">Spanish</option>
                    <option value="3">French</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="nickName" class="form-label">Nick Name</label>
                  <input type="text" class="form-control" id="nickName" placeholder="Your First Name">
                </div>
                <div class="mb-3">
                  <label for="country" class="form-label">Country</label>
                  <select id="country" class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">USA</option>
                    <option value="2">Canada</option>
                    <option value="3">UK</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="timeZone" class="form-label">Time Zone</label>
                  <select id="timeZone" class="form-select">
                    <option selected>Choose...</option>
                    <option value="1">EST</option>
                    <option value="2">PST</option>
                    <option value="3">GMT</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->