<!-- Investor Form -->
<div class="bgColor">
<div *ngIf="type === 'investor'" class="container pt-5">
  <div class="card cardColor shadow p-4">
    <h2 class="mb-4 text-primary text-center">Investor Registration</h2>
    <form (ngSubmit)="submitInvestor()">
      <div class="mb-3">
        <label for="businessRegistrationNumber" class="form-label">Business Registration Number:</label>
        <input
          type="text"
          id="businessRegistrationNumber"
          [(ngModel)]="investorData.businessRegistrationNumber"
          name="businessRegistrationNumber"
          class="form-control"
          placeholder="Enter your business registration number"
        />
      </div>
      <div class="mb-3">
        <label for="investorEmail" class="form-label">Your email:</label>
        <input
          type="text"
          id="investorEmail"
          [(ngModel)]="investorData.investorEmail"
          name="investorEmail"
          class="form-control"
          placeholder="your Email"
        />
      </div>

      <div class="mb-3">
        <label for="investmentAmount" class="form-label">Investment Amount:</label>
        <input
          type="text"
          id="investmentAmount"
          [(ngModel)]="investorData.investmentAmount"
          name="investmentAmount"
          class="form-control"
          placeholder="Enter the amount you want to invest"
        />
      </div>

      <div class="mb-3">
        <label for="message" class="form-label">Message:</label>
        <textarea
          id="message"
          [(ngModel)]="investorData.message"
          name="message"
          class="form-control"
          rows="3"
          placeholder="Enter your message"
        ></textarea>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
</div>

<!-- Startup Form -->
<div class="bgColor mb-5">

  <div *ngIf="type === 'startup'" class="container pt-5 col-8 mb-5 ">
    <div class="card cardColor shadow p-4 mb-5">
      <h2 class="mb-4 text-success text-center">Startup Registration</h2>
      <form (ngSubmit)="submitStartup()">
        <div class="mb-3">
        <label for="StartupName" class="form-label">Startup Name:</label>
        <input
        type="text"
        id="StartupName"
        [(ngModel)]="startupData.startupName"
        name="startupName"
        class="form-control"
        placeholder="Enter your startup name"
        />
      </div>
      <div class="mb-3">
        <label for="startupEmail" class="form-label">Startup Email:</label>
        <input
          type="text"
          id="startupEmail"
          [(ngModel)]="startupData.startupEmail"
          name="startupEmail"
          class="form-control"
          placeholder="Enter your startup Email "
        />
      </div>
      <div class="mb-3">
        <label for="startupEmail" class="form-label">Startup Email:</label>
        <input
          type="text"
          id="startupEmail"
          [(ngModel)]="startupData.startupEmail"
          name="startupEmail"
          class="form-control"
          placeholder="Enter your startup Email "
        />
      </div>
      <div class="mb-3">
        <label for="teamNumber" class="form-label">Number of team:</label>
        <input
        type="number"
        id="teamNumber"
        [(ngModel)]="startupData.teamNumber"
        name="teamNumber"
        class="form-control"
        placeholder="teamNumber"
        />
      </div>
      
      <div class="mb-3">
        <label for="BusinessRegistrationNumber" class="form-label">Business Registration Number:</label>
        <input
          type="text"
          id="BusinessRegistrationNumber"
          [(ngModel)]="startupData.BusinessRegistrationNumber"
          name="BusinessRegistrationNumber"
          class="form-control"
          placeholder="Enter your business registration number"
          />
        </div>
        
        <div class="mb-3">
          <label for="Industry" class="form-label">Industry:</label>
          <input
          type="text"
          id="Industry"
          [(ngModel)]="startupData.Industry"
          name="Industry"
          class="form-control"
          placeholder="Enter your industry"
          />
        </div>
        
        <div class="mb-3">
          <label for="BriefDescription" class="form-label">Brief Description:</label>
          <textarea
          id="BriefDescription"
          [(ngModel)]="startupData.BriefDescription"
          name="BriefDescription"
          class="form-control"
          rows="4"
          placeholder="Enter a brief description of your startup"
          ></textarea>
        </div>
        
        <div class="mb-3">
          <label for="StartupLogo" class="form-label">Startup Logo:</label>
          <input
          type="file"
          id="StartupLogo"
          [(ngModel)]="startupData.StartupLogo"
          name="StartupLogo"
          class="form-control"
          (change)="onFileSelected($event,0)"
        />
        <small class="form-text text-muted">{{ selectedFile || 'No file selected' }}</small>
      </div>

      <div class="mb-3">
        <label for="UploadGovernmentIssuedID" class="form-label">Government Issued ID:</label>
        <input
        type="file"
          id="UploadGovernmentIssuedID"
          name="UploadGovernmentIssuedID"
          class="form-control"
          (change)="onFileSelected($event,1)"
          [(ngModel)]="startupData.UploadGovernmentIssuedID"
        />
        <small class="form-text text-muted">{{ selectedFile || 'No file selected' }}</small>
      </div>

      <div class="mb-3">
        <label for="UploadBusinessRegistrationCertificate" class="form-label">Business Registration Certificate:</label>
        <input
          type="file"
          id="UploadBusinessRegistrationCertificate"
          name="UploadBusinessRegistrationCertificate"
          class="form-control"
          (change)="onFileSelected($event,2)"
          [(ngModel)]="startupData.UploadBusinessRegistrationCertificate"
          />
          <small class="form-text text-muted">{{ selectedFile || 'No file selected' }}</small>
        </div>
        
      <div class="mb-3">
        <label for="LinkedInorSocialMediaProfile" class="form-label">Linkdin Profile:</label>
        <input
          type="text"
          id="LinkedInorSocialMediaProfile"
          [(ngModel)]="startupData.LinkedInorSocialMediaProfile"
          name="LinkedInorSocialMediaProfile"
          class="form-control"
          placeholder="Enter your LinkedInorSocialMediaProfile"
          />
        </div>
        
        <div class="d-grid">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>